
body{
  background-color:#000000;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  font-size: 35px;
  color: #ffffff;
}

.box {
  background: #02B2B4;
  transition-property: background;
  transition-duration: 0s;
  transition-timing-function: linear;
}
.box:hover {
  background: #ff7b29;
}
